In [3]:
import pandas as pd
import numpy as np

# Assignment 3 - More Pandas
All questions are weighted the same in this assignment. This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable's]`

Convert the energy supply and the energy supply per capita to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with parenthesis in their name. Be sure to remove these, e.g. `'Bolivia (Plurinational State of)'` should be `'Bolivia'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102), which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country.

*This function should return a DataFrame with 20 columns and 15 entries.*

In [4]:
import pandas as pd
import numpy as np
def answer_one():
    #Energy DataFrame
    energy = pd.read_excel('Energy Indicators.xls', sheetname='Energy',header=None,skiprows=18) # read excel_file
    energy.drop(energy.columns[[0,2]],axis=1,inplace=True) # drop unimportant columns
    energy = energy.drop(energy.index[227:]) # drop footer index 
    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'] # change column names
    energy = energy.replace('...',np.NaN) # replace "..." with 'NaN' 
    energy['Country'] = energy['Country'].replace({"Republic of Korea": "South Korea",
                                                   "United States of America": "United States",
                                                   "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                                                   "China, Hong Kong Special Administrative Region": "Hong Kong",
                                                   'Bolivia (Plurinational State of)': 'Bolivia', 
                                                   'Falkland Islands (Malvinas)': 'Falkland Islands',
                                                   'Iran (Islamic Republic of)': 'Iran',
                                                   'Micronesia (Federated States of)': 'Micronesia',
                                                   'Sint Maarten (Dutch part)': 'Sint Maarten',
                                                   'Venezuela (Bolivarian Republic of)': 'Venezuela',}) # rename
    energy['Energy Supply'] = energy['Energy Supply']*1000000 # convert petajoule to gigajoules
#     energy['Energy Supply per Capita'] = energy['Energy Supply per Capita']*1000000
    
    #GDP DataFrame 
    GDP = pd.read_csv('world_bank.csv', skiprows=4)
    GDP = GDP.rename(columns={'Country Name': 'Country'}) # rename column 
    GDP['Country'] = GDP['Country'].replace({"Korea, Rep.": "South Korea", 
    "Iran, Islamic Rep.": "Iran",
    "Hong Kong SAR, China": "Hong Kong"}) #rename countries 
    GDP = GDP.T # transpose 
    rows = list(range(4,50))
    GDP = GDP.drop(GDP.index[rows]) #drop unimportant data 
    GDP = GDP.T # transpose back
 
    #ScimEn DataFrame
    ScimEn = pd.read_excel('scimagojr-3.xlsx') # read excel_file
#     ScimEn = ScimEn[0:15] # choose rank 1-15

    #Intersection of merge DataFrame
    df = energy.merge(GDP,on='Country',how='inner').merge(ScimEn,on='Country',how='inner') #intersect
    df2 = df.set_index('Country') # set master index 
    final_df = df2.drop(['Country Code','Indicator Name', 'Indicator Code'], axis=1)
    correct_column_order = ['Rank', 'Documents', 'Citable documents', 'Citations', 
                            'Self-citations', 'Citations per document', 
                            'H index', 'Energy Supply', 'Energy Supply per Capita', 
                            '% Renewable', '2006', '2007', '2008', '2009', '2010', 
                            '2011', '2012', '2013', '2014', '2015'] # reorder columns 
    dff = final_df[correct_column_order] #final DataFrame 
    new_dff = dff.sort_values(by='Rank')
    return new_dff[0:15]

answer_one()

/usr/local/lib/python2.7/site-packages/pandas/tools/merge.py:714: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  rlab = rizer.factorize(rk)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.99233e+12,4.55904e+12,4.99778e+12,5.45925e+12,6.03966e+12,6.61249e+12,7.12498e+12,7.67245e+12,8.23012e+12,8.798e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.47923e+13,1.50554e+13,1.50115e+13,1.45948e+13,1.49644e+13,1.5204e+13,1.55422e+13,1.57737e+13,1.61566e+13,1.65486e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.49654e+12,5.61704e+12,5.55853e+12,5.25131e+12,5.49872e+12,5.47374e+12,5.5691e+12,5.64466e+12,5.64288e+12,5.66956e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.41963e+12,2.4822e+12,2.47061e+12,2.36705e+12,2.4035e+12,2.45091e+12,2.47981e+12,2.53337e+12,2.60564e+12,2.66633e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.38579e+12,1.50407e+12,1.583e+12,1.4592e+12,1.52492e+12,1.58994e+12,1.64588e+12,1.66693e+12,1.67871e+12,1.61615e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.56447e+12,1.59674e+12,1.61271e+12,1.56514e+12,1.61341e+12,1.66409e+12,1.69313e+12,1.73069e+12,1.77349e+12,1.79261e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.33289e+12,3.44156e+12,3.47881e+12,3.28334e+12,3.4173e+12,3.54237e+12,3.55672e+12,3.56732e+12,3.62439e+12,3.68556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.26589e+12,1.37487e+12,1.42836e+12,1.54948e+12,1.70846e+12,1.82187e+12,1.92424e+12,2.05198e+12,2.20062e+12,2.36721e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.60784e+12,2.66942e+12,2.67464e+12,2.59597e+12,2.64699e+12,2.70203e+12,2.70697e+12,2.72257e+12,2.72963e+12,2.76119e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.4102e+11,9.92432e+11,1.02051e+12,1.02773e+12,1.0945e+12,1.1348e+12,1.16081e+12,1.19443e+12,1.23434e+12,1.26658e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.20217e+12,2.23463e+12,2.21115e+12,2.08994e+12,2.12518e+12,2.13744e+12,2.07718e+12,2.04087e+12,2.03387e+12,2.04932e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.41482e+12,1.46815e+12,1.48453e+12,1.43148e+12,1.43167e+12,1.41735e+12,1.38022e+12,1.35714e+12,1.37561e+12,1.41982e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.89552e+11,4.25065e+11,4.28991e+11,4.38921e+11,4.6779e+11,4.85331e+11,4.53257e+11,4.44593e+11,4.63903e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.02194e+12,1.06034e+12,1.09964e+12,1.11965e+12,1.14225e+12,1.16943e+12,1.21191e+12,1.24148e+12,1.27252e+12,1.30125e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.84508e+12,1.95712e+12,2.05681e+12,2.05421e+12,2.20887e+12,2.29524e+12,2.33921e+12,2.40974e+12,2.41223e+12,2.31942e+12

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [108]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [109]:
#Energy DataFrame
energy = pd.read_excel('Energy Indicators.xls', sheetname='Energy',header=None,skiprows=18) # read excel_file
energy.drop(energy.columns[[0,2]],axis=1,inplace=True) # drop unimportant columns
energy = energy.drop(energy.index[227:]) # drop footer index 
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'] # change column names
energy = energy.replace('...',np.NaN) # replace "..." with 'NaN' 
energy['Country'] = energy['Country'].replace({"Republic of Korea": "South Korea",
                                                   "United States of America": "United States",
                                                   "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                                                   "China, Hong Kong Special Administrative Region": "Hong Kong",
                                                   'Bolivia (Plurinational State of)': 'Bolivia', 
                                                   'Falkland Islands (Malvinas)': 'Falkland Islands',
                                                   'Iran (Islamic Republic of)': 'Iran',
                                                   'Micronesia (Federated States of)': 'Micronesia',
                                                   'Sint Maarten (Dutch part)': 'Sint Maarten',
                                                   'Venezuela (Bolivarian Republic of)': 'Venezuela',}) # rename
energy['Energy Supply'] = energy['Energy Supply']*1000000 # convert petajoule to gigajoules
#     energy['Energy Supply per Capita'] = energy['Energy Supply per Capita']*1000000
    
#GDP DataFrame 
GDP = pd.read_csv('world_bank.csv', skiprows=4)
GDP = GDP.rename(columns={'Country Name': 'Country'}) # rename column 
GDP['Country'] = GDP['Country'].replace({"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"}) #rename countries 
GDP = GDP.T # transpose 
rows = list(range(4,50))
GDP = GDP.drop(GDP.index[rows]) #drop unimportant data 
GDP = GDP.T # transpose back
 
#ScimEn DataFrame
ScimEn = pd.read_excel('scimagojr-3.xlsx') # read excel_file
#ScimEn = ScimEn[0:15] # choose rank 1-15

#Intersection of merge DataFrame
df = energy.merge(GDP,on='Country',how='inner').merge(ScimEn,on='Country',how='inner') #intersect
df2 = df.set_index('Country') # set master index 
final_df = df2.drop(['Country Code','Indicator Name', 'Indicator Code'], axis=1)
correct_column_order = ['Rank', 'Documents', 'Citable documents', 'Citations', 
                            'Self-citations', 'Citations per document', 
                            'H index', 'Energy Supply', 'Energy Supply per Capita', 
                            '% Renewable', '2006', '2007', '2008', '2009', '2010', 
                            '2011', '2012', '2013', '2014', '2015'] # reorder columns 
dff = final_df[correct_column_order] #final DataFrame 
new_dff = dff.sort_values(by='Rank')


def answer_two():
    all_inner_joined = ScimEn.merge(energy).merge(GDP, left_on='Country', right_on='Country')
    all_outer_joined = ScimEn.merge(energy, how='outer').merge(GDP, how='outer', left_on='Country', right_on='Country')
    return len(all_outer_joined)-len(all_inner_joined)
answer_two()

156

### Question 3 (6.6%)
What are the top 15 countries for average GDP over the last 10 years?

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [110]:
def answer_three():
    Top15 = answer_one()
    avgGDP = Top15[['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']].mean(axis=1)
    avgGDP.sort(axis=0,ascending=False,inplace=True)
    return avgGDP.rename('avgGDP')
answer_three()

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
Name: avgGDP, dtype: float64

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [111]:
def answer_four():
    Top15 = answer_one()
    Top15['avgGDP'] = answer_three()
    top_six_gdp = pd.Series(Top15['avgGDP'].nlargest(6))
    sixth_largest_gdp = top_six_gdp.iloc[5]
    largest_avg =  (Top15.where(Top15['avgGDP'] == sixth_largest_gdp).dropna())
    return ((largest_avg['2015'] - largest_avg['2006']).iloc[0])
answer_four()

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting

246702696075.3999

### Question 5 (6.6%)
What is the mean energy supply per capita?

*This function should return a single number.*

In [112]:
def answer_five(): 
    Top15 = answer_one()
    return Top15['Energy Supply per Capita'].mean()
answer_five()

157.59999999999999

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [113]:
def answer_six():
    Top15 = answer_one()
    max = Top15['% Renewable'].max()
    max_renewable_country = Top15.where(Top15['% Renewable'] == max).dropna().iloc[0]
    return(max_renewable_country.name, max_renewable_country['% Renewable'])
answer_six()

(u'Brazil', 69.648030000000006)

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [114]:
def answer_seven():
    Top15 = answer_one()
    Top15['ratio'] = Top15['Self-citations'] / Top15['Citations']
    max = Top15['ratio'].max()
    highest_ratio = Top15.where(Top15['ratio'] == max).dropna().iloc[0]
    return(highest_ratio.name, highest_ratio['ratio'])
answer_seven()

(u'China', 0.68931261793894216)

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [115]:
def answer_eight():
    Top15 = answer_one()
    #N = (ES * len(Top15))/ESPC  Population size.
    Top15['PopEst'] = (Top15['Energy Supply']) / Top15['Energy Supply per Capita']
    third_most = Top15['PopEst'].nlargest(3)
    return third_most.keys()[2]
answer_eight()

'United States'

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita?

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita).*

In [116]:
def answer_nine():
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    corr_coeff = Top15['Citable docs per Capita'].corr(Top15['Energy Supply per Capita'])
    # .794 is a fairly strong positive relationshop between citable documents and energy supply. 
    return corr_coeff
answer_nine()

0.79400104354429424

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [117]:
def answer_ten():
    Top15 = answer_one()
    Top15['HighRenew'] = np.where(Top15['% Renewable'] >= Top15['% Renewable'].median(), int(1), 0).astype(int)
    return Top15['HighRenew']
answer_ten()

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: int64

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [118]:
def answer_eleven():
    Top15 = answer_one()
    Top15['PopEst'] = (Top15['Energy Supply']) / Top15['Energy Supply per Capita']
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    df1 = Top15.groupby(ContinentDict).agg([np.size, np.sum, np.mean, np.std])
    df2 = df1.drop(['Rank','Citable documents', 'Documents','Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'],axis=1)
    df2.index.name = 'Continent'
    return df2['PopEst']
answer_eleven()

               size           sum          mean           std
Continent
Asia            5.0  2.898666e+09  5.797333e+08  6.790979e+08
Australia       1.0  2.331602e+07  2.331602e+07           NaN
Europe          6.0  4.579297e+08  7.632161e+07  3.464767e+07
North America   2.0  3.528552e+08  1.764276e+08  1.996696e+08
South America   1.0  2.059153e+08  2.059153e+08           NaN

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a Series with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [1]:
def answer_twelve():
    Top15 = answer_one()
    return "ANSWER"

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas)

e.g. 12345678.90 -> 12,345,678.90

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [5]:
def answer_thirteen():
    Top15 = answer_one()
    Top15['PopEst'] = (Top15['Energy Supply']) / Top15['Energy Supply per Capita']
    df = Top15['PopEst']
    for i in range(len(df)): 
        df.iloc[i] = '{:,}'.format(df.iloc[i])
    return df
answer_thirteen()

/usr/local/lib/python2.7/site-packages/pandas/core/indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

Country
China                 1,367,645,161.29
United States          317,615,384.615
Japan                  127,409,395.973
United Kingdom         63,870,967.7419
Russian Federation       143,500,000.0
Canada                 35,239,864.8649
Germany                80,369,696.9697
India                 1,276,730,769.23
France                 63,837,349.3976
South Korea            49,805,429.8643
Italy                  59,908,256.8807
Spain                  46,443,396.2264
Iran                   77,075,630.2521
Australia               23,316,017.316
Brazil                 205,915,254.237
Name: PopEst, dtype: object