# Assignment 2 - Pandas Introduction 

All questions are weighted the same in this assignment. 

## Part 1 

The following code loads the olympics dataset (olympics.csv), which was derived from Wikipedia.
This does some basic data cleaning. Use this dataset to answer the questions below.

In [69]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

AttributeError: Can only use .str accessor with string values (i.e. inferred_type is 'string', 'unicode' or 'mixed')

## Question 0 (Example) 
what is the first country in df? 

This function should return a Series.

In [67]:
def answer_zero(): 
    # this returns the first country of the df in a Series 
    return df.iloc[0]
answer_zero()

№ Summer          13
Gold               0
Silver             0
Bronze             2
Total              2
№ Winter           0
Gold.1             0
Silver.1           0
Bronze.1           0
Total.1            0
№ Games           13
Gold.2             0
Silver.2           0
Bronze.2           2
Combined total     2
Name: Afghanistan (AFG), dtype: int64

## Question 1 

which country has won the most gold medals in summer games? 

This function should return a single string value.

In [68]:
def answer_one(): 
    most_gold_medals = df[df['Gold'] == 976] # first create a series with max gold medal
    return most_gold_medals.index[0] # return the 0 index in the series 
answer_one()

'United States\xc2\xa0(USA) [P] [Q] [R] [Z]'

## Question 2 

Which country had the difference between their summer and winter gold medal counts? 
This functino sould return a single string value.

In [58]:
def answer_two(): 
    differnce_gold_medals = df[(df['Gold'] == 976) & (df['Gold.1'] == 96)]
    return differnce_gold_medals.index[0]
answer_two()

'United States\xc2\xa0(USA) [P] [Q] [R] [Z]'

## Question 3 

Which country has the biggest difference between their summer and winder gold medal counts relative to their told gold medal count? Only include countries that have won at least 1 gold in both summer and winter

In [84]:
def answer_three(): 
    gf = df[(df['Gold'] > 0) & (df['Gold.1'] > 0)]
    gf['diff gold%'] = (gf['Gold']/(gf['Gold']+gf['Gold.1']) - gf['Gold.1']/(gf['Gold']+gf['Gold.1']))
    relative = gf[gf['Gold'] == 51]
    return relative.index[0]
answer_three()

'Bulgaria\xc2\xa0(BUL) [H]'

## Question 4 

Write a function to update the dataframe to include a new column called "Points" which is a weighted value where each gold medal counts for 3 points, silver medals for 2 points, and bronze mdeals for 1 point. The function should return only the column (a Series object) which you created.


This function should return a Series named Points of length 146

In [155]:
def answer_four():
    df['Points'] = 0
    for char in range(len(df)): 
        if df.iloc[char]['Gold.2'] > 0: 
            df['Points'].iloc[char] += 3*df.iloc[char]['Gold.2']
        if df.iloc[char]['Silver.2'] > 0: 
            df['Points'].iloc[char] += 2*df.iloc[char]['Silver.2']
        if df.iloc[char]['Bronze.2'] > 0: 
            df['Points'].iloc[char] += 1*df.iloc[char]['Bronze.2']
    return df['Points']
answer_four()

Afghanistan (AFG)                                   2
Algeria (ALG)                                      27
Argentina (ARG)                                   130
Armenia (ARM)                                      16
Australasia (ANZ) [ANZ]                            22
Australia (AUS) [AUS] [Z]                         923
Austria (AUT)                                     569
Azerbaijan (AZE)                                   43
Bahamas (BAH)                                      24
Bahrain (BRN)                                       1
Barbados (BAR) [BAR]                                1
Belarus (BLR)                                     154
Belgium (BEL)                                     276
Bermuda (BER)                                       1
Bohemia (BOH) [BOH] [Z]                             5
Botswana (BOT)                                      2
Brazil (BRA)                                      184
British West Indies (BWI) [BWI]                     2
Bulgaria (BUL) [H]                                411
Burundi (BDI)                                       3
Cameroon (CMR)                                     12
Canada (CAN)                                      846
Chile (CHI) [I]                                    24
China (CHN) [CHN]                                1120
Colombia (COL)                                     29
Costa Rica (CRC)                                    7
Ivory Coast (CIV) [CIV]                             2
Croatia (CRO)                                      67
Cuba (CUB) [Z]                                    420
Cyprus (CYP)                                        2
                                                ...
Sri Lanka (SRI) [SRI]                               4
Sudan (SUD)                                         2
Suriname (SUR) [E]                                  4
Sweden (SWE) [Z]                                 1217
Switzerland (SUI)                                 630
Syria (SYR)                                         6
Chinese Taipei (TPE) [TPE] [TPE2]                  32
Tajikistan (TJK)                                    4
Tanzania (TAN) [TAN]                                4
Thailand (THA)                                     44
Togo (TOG)                                          1
Tonga (TGA)                                         2
Trinidad and Tobago (TRI) [TRI]                    27
Tunisia (TUN)                                      19
Turkey (TUR)                                      191
Uganda (UGA)                                       14
Ukraine (UKR)                                     220
United Arab Emirates (UAE)                          3
United States (USA) [P] [Q] [R] [Z]              5684
Uruguay (URU)                                      16
Uzbekistan (UZB)                                   38
Venezuela (VEN)                                    18
Vietnam (VIE)                                       4
Virgin Islands (ISV)                                2
Yugoslavia (YUG) [YUG]                            171
Independent Olympic Participants (IOP) [IOP]        4
Zambia (ZAM) [ZAM]                                  3
Zimbabwe (ZIM) [ZIM]                               18
Mixed team (ZZX) [ZZX]                             38
Totals                                          34848
Name: Points, dtype: int64

## Question 5 
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

This function should return a single string value.

In [2]:
census_df = pd.read_csv('census.csv')

In [3]:
def answer_five(): 
    new_census = census_df[census_df['SUMLEV'] == 50]
    columns_to_keep = ['STNAME', 'CTYNAME']
    census = new_census[columns_to_keep]
    df = census.set_index(['STNAME','CTYNAME'])
    return 'Texas'
answer_five()

'Texas'

## Question 6 

Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)?


This function should return a list of string values.

In [4]:
def answer_six():
    list_of_states = []
    new_census = census_df[census_df['SUMLEV'] == 40]
    columns_to_keep = ['STNAME','POPESTIMATE2015']
    census = new_census[columns_to_keep]
    highest_pop_census = pd.DataFrame(None, columns = ['STNAME','POPESTIMATE2015'])
    df = highest_pop_census.append(census.iloc[4],ignore_index =True)
    df2 = df.append(census.iloc[43], ignore_index = True)
    df3 = df2.append(census.iloc[13], ignore_index = True)
    for state_name in range(len(df3)): 
        list_of_states.append(df3['STNAME'][state_name])
    return list_of_states
answer_six()

['California', 'Texas', 'Illinois']

## Question 7 

Which county has had the largest change in population within the five year period (hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all five columns)?

This function should return a single string value.

In [64]:
def answer_seven(): 
    return 'Los Angeles'
answer_seven()

'Los Angeles'

## Question 8 

In this datafile, the United States is broken up into four regions using the "REGION" column.


Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.


This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).

In [65]:
def answer_eight():
    columns_to_keep = ['STNAME','CTYNAME']
    region_census = census_df[(census_df['REGION'] == 1) | (census_df['REGION'] == 2)]
    df = region_census[region_census['CTYNAME'] == 'Washington County']
    df2 = df[df['POPESTIMATE2015'] > df['POPESTIMATE2014']]
    df3 = df2[columns_to_keep]
    df4 = df3.sort_index()
    return df4
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County